@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    /* font-family:"0xProto Nerd Font Propo"; */
    font-size: 18px;
    opacity: 1;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

/*中间第一级*/
#custom-applauncher {
    font-size: 25px;
    padding: 0px 7px;
    margin: 0px;
    background-color: @primary;
    color: @on_primary;

}

#custom-left_div.11,
#custom-right_div.11 {
    margin: 0px;
    padding: 0px;
    font-size: 25px;


}

#custom-left_div.11 {
    background-color: @tertiary;
    color: @surface_container
}

#custom-right_div.11 {

    background-color: @secondary;
    color: @surface_container;
}

#custom-left_div.1,
#custom-right_div.1 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

#custom-left_div.1 {
    background-color: @surface_container;
    color: @primary;
}

#custom-right_div.1 {

    background-color: @surface_container;
    color: @primary;

}

#custom-left_inv.1,
#custom-right_inv.1 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

#custom-left_inv.1 {
    background-color: @surface_container;
    color: @tertiary;
}

#custom-right_inv.1 {
    background-color: @surface_container;
    color: @secondary;
}

/* 中间左边第二级 */
#power-profiles-daemon,
#custom-colorpicker,
#idle_inhibitor {
    padding: 0px 7px;
}


#power-profiles-daemon {
    background-color: @secondary_container;
    color: @on_secondary_container;
}

#power-profiles-daemon.performance {
    color: @on_error;
    font-size: 23px;
}

#power-profiles-daemon.balanced {
    color: @on_secondary_container;
}

#power-profiles-daemon.power-saver {
    color: #1aa052;

}

#idle_inhibitor {
    background-color: @secondary_container;
    color: @on_secondary_container;

}

#custom-left_div.2 {
    background-color: @secondary_container;
    color: @tertiary;
    padding: 0px 0px;
    font-size: 25px;
}

/*中间右边第二级*/

#clock {
    padding: 0px 7px;
}

#clock {
    background-color: @secondary;
    color: @on_secondary;
}

#custom-right_div.2 {
    background-color: @secondary_container;
    color: @secondary;
    padding: 0px 0px;
    font-size: 25px;
}


/* 中间右边第三级 */

#clock.date {
    padding: 0px 7px;
}

#custom-datelogo,
#clock.date {
    background-color: @secondary;
    color: @on_secondary;
}

#custom-right_div.3 {
    background-color: @on_secondary;
    color: @secondary_container;
    padding: 0px;
    font-size: 25px;
}

/* 中间右侧第四级 */
#battery {
    background-color: @on_secondary;
    color: @on_surface;
    padding: 0px 7px;
}

#battery.critical:not(.charging) {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0px 7px;
}

#custom-right_div.4 {
    /* background-color: @surface_container_high; */
    color: @on_secondary;
    padding: 0px;
    font-size: 25px;
}

/* 中间左侧第三级别 */

#bluetooth {
    padding: 0px 7px;
    font-size: 20px;
}

#network {
    padding: 0px 7px;
    font-size: 22px;

}

#custom-settings {
    padding: 0px 7px;
    font-size: 19px;
}

#custom-screenshot {
    padding: 0 7px;
    font-size: 22px;
}

#bluetooth,
#network,
#custom-settings,
#custom-screenshot {
    background-color: @secondary_container;
    color: @on_secondary_container;
}

#custom-left_div.3 {
    background-color: @on_secondary;
    color: @secondary_container;
    padding: 0px;
    font-size: 25px;
}


/* 中间左边第四级 */


#tray {
    padding: 0px 7px 0px 7px;
    font-size: 20px;
    background-color: @surface_container_high;
}

#custom-left_div.4 {
    /* background-color: @surface_container_high; */
    color: @on_secondary;
    padding: 0px;
    font-size: 25px;
}

/* 最右边powermenu */
#custom-wlogout {
    padding: 0px 15px 0px 10px;
    font-size: 25px;
    background-color: @surface;
}

#custom-wlogout,
#custom-reboot,
#custom-lockscreen,
#custom-logout {
    background-color: @surface;
    color: @tertiary;
    padding: 0px 10px;
}

#custom-left_div.5 {
    background-color: @surface_container_high;
    color: @surface;
    padding: 0px;
    font-size: 25px;
}

/* 最右边第二级 */

#custom-mako {
    background-color: @surface_container_high;
    color: @on_surface;
    padding: 0px 7px;
}

#custom-left_div.6 {
    background-color: @surface;
    color: @surface;
    padding: 0px;
    font-size: 25px;
}

#mpris {
    background-color: @surface;
    color: @primary;

    padding: 0px 10px 0px 0px;
}

#pulseaudio {
    padding: 0px 0px 0px 5px;
}

#privacy {
    padding: 0px 7px;
}

#pulseaudio {
    background-color: @on_secondary;
    color: @secondary;
}

#privacy {
    background-color: @surface_container_high;
    color: @tertiary;
}

#custom-separator.1 {
    background-color: @on_secondary;
    color: @secondary;
    padding: 0px 5px;
}

#backlight {
    background-color: @on_secondary;
    color: @secondary;
    padding: 0px 0px 0px 0px;
}

#custom-left_div.7 {
    /* background-color: @surface_container_high; */
    color: @surface_container_high;
    font-size: 25px;
    padding: 0px;
}

/* 工作区 */
#workspaces button {
    padding: 0px 10px;
    background: @surface_container;
    color: @tertiary;
}

#workspaces button:hover {
    background: @on_tertiary;
}

#workspaces button.focused:hover {
    background: @surface_bright;
}

#workspaces button.focused {
    background: @surface_container;
    color: @tertiary;

}

#custom-right_div.5 {
    background: @surface_bright;
    color: @surface_container;
    font-size: 25px;
    padding: 0px;
}

/* 窗口名 */
#window {
    padding: 0px 10px;
    background-color: @surface_bright;
    color: @on_surface;
}

#window label {
    font-size: 16px;
}

window#waybar.empty #window {
    background-color: @surface_bright;
}

#custom-right_div.6 {
    color: @surface_bright;
    font-size: 25px;
    padding: 0px;
}

/* 鼠标悬浮信息提示 */
tooltip {
    background: @secondary_container;
    border: 3px solid @outline;
    opacity: 0.8;
}

tooltip label {
    color: white;
    font-size: 16px;
}
